.password {
	margin: 80px 40px;
	padding-left: 40px;
	font-family: "HelveticaRegular";
	font-size: 18px;
	width: 240px;
	height: 40px;
	border-radius: 10px;
	opacity: 0.5;
	color: #ffffff;
	position: absolute;
	text-shadow: 1px 1px 3px #2A6B39;
	background-color: rgba(192, 205, 174, .4);
}